:root {
  --background: #d0ebff;
  --background-light: #e7f5ff;
  --background-dark: #74c0fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font: 400 1.6rem/1 "Roboto", sans-serif;
  color: #343a40;
}

.container {
  margin: 0 auto;
  height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ***** QUESTION BOX ***** */

.question-box-header {
  display: flex;
  width: 100%;
}

.question-box {
  margin: 2rem 0;
  padding: 2rem;
  background-color: var(--background);
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  width: 60rem;
  flex-direction: column;
}

.question-number {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--background-dark);
  align-self: flex-start;
}

.question-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.question-answers {
  width: 40rem;
  margin-bottom: 4rem;
  flex-direction: column;
}

.answer {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.4rem;
  transition: all 0.3s ease;
  width: 100%;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.03);
}

.answer:hover {
  transform: translateY(-3px);
}

.answer-letter {
  font-size: 2rem;
  font-weight: 500;
  width: 3.4rem;
  height: 3.4rem;
  background-color: var(--background-dark);
  border-radius: 7px 0px 0px 7px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-text {
  font-size: 1.8rem;
  font-weight: 400;
  height: 3.4rem;
  width: 40rem;
  background-color: #fff;
  border-radius: 0 7px 7px 0;
  display: flex;
  align-items: center;
  padding-left: 1.4rem;
}

.answer-text:hover {
  background-color: var(--background-dark);
  color: #fff;
}

.progress-bar {
  height: 0.5rem;
  background-color: var(--background-light);
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
}

.progress-bar-active {
  height: 100%;
  background-color: var(--background-dark);
  border-radius: 0.5rem;
  width: 30%;
}
