:root {
  --background: #d0ebff;
  --background-light: #e7f5ff;
  --background-dark: #74c0fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font: 400 1.6rem/1 "Roboto", sans-serif;
  color: #343a40;
}

.container {
  margin: 0 auto;
  height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s;
}

.hide {
  display: none;
}

/* ***** START ***** */

span {
  color: #54aef4;
  font-weight: 500;
}

.start-screen {
  margin: 2rem 0;
  padding: 2rem;
  background-color: var(--background);
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  width: 70rem;
  flex-direction: column;
}

.start-title {
  font-size: 3.2rem;
  font-weight: 400;
  padding: 2rem;
  text-align: center;
}

.start-text {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 3.4rem;
  text-align: center;
  line-height: 1.2;
}

.start-btn,
.restart-btn {
  background-color: #51cf66;
  color: #fff;
  border: none;
  padding: 1rem 2.4rem;
  border-radius: 0.5rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
}

.start-btn:hover,
.restart-btn:hover {
  background-color: #4ac15e;
  transform: scale(1.05);
}

/* ***** QUESTION BOX ***** */

.question-box-header {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

.question-box {
  margin: 2rem 0;
  padding: 2rem;
  background-color: var(--background);
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  width: 70rem;
  flex-direction: column;
}

.question-number {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--background-dark);
  align-self: flex-start;
}

.question-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.question-answers {
  margin-bottom: 4rem;
  flex-direction: column;
}

.answer {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.4rem;
  transition: all 0.3s ease;
  width: 60rem;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.03);
}

.answer:hover {
  transform: translateY(-3px);
}

.answer-letter {
  font-size: 2rem;
  font-weight: 500;
  width: 3.4rem;
  height: 3.4rem;
  background-color: var(--background-dark);
  border-radius: 7px 0px 0px 7px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-text {
  font-size: 1.6rem;
  font-weight: 400;
  height: 3.4rem;
  width: calc(100% - 3.4rem);
  background-color: #fff;
  border-radius: 0 7px 7px 0;
  display: flex;
  align-items: center;
  padding-left: 1.4rem;
}

.answer-text:hover {
  background-color: var(--background-dark);
  color: #fff;
}

.selected {
  background-color: var(--background-dark);
  color: #fff;
  z-index: 1;
}

.progress-bar {
  height: 0.5rem;
  background-color: var(--background-light);
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
  margin-top: 2rem;
}

.progress-bar-active {
  height: 100%;
  background-color: var(--background-dark);
  border-radius: 0.5rem;
  width: 30%;
}

/* ***** LOADING ***** */

.loading-screen {
  margin: 2rem 0;
  padding: 2rem;
  background-color: var(--background);
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  width: 70rem;
  flex-direction: column;
}

.loading-title {
  font-size: 3.2rem;
  font-weight: 500;
  padding: 2rem;
  text-align: center;
}

.loading-description {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.loader-animation {
  border: 10px solid #f3f3f3;
  border-top: 10px solid var(--background-dark);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ***** RESULTS ***** */

.results-screen {
  margin: 2rem 0;
  padding: 2rem;
  background-color: var(--background);
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  width: 70rem;
  flex-direction: column;
}

.results-title {
  font-size: 3.2rem;
  font-weight: 500;
  padding: 2rem;
  text-align: center;
}

.results-description {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.results-game {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.results-img {
  width: 20rem;
  padding: 2rem;
  margin-bottom: 2.4rem;
}
